body {
    background-color: rgb(88, 88, 88);
    display: flex;
    flex-direction: column;
}

header {
    height: 5vh
}

.container {
    height: 89vh;
    
}

footer {
    height: 1vh;
}

.display-books {
    background-color: rgb(198, 198, 198);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: row dense;
    justify-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 2rem;
    height: 90%;
    min-width: max-content;
    overflow: auto; 


}

.book {
    height: 250px;
    width: 250px;
    background-color: rgb(126, 188, 166);
}


